/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import url("//fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

html
  font-family 'Roboto Slab', serif

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px
  img
    &.pull-right
      width 50px

.categoryBtn
  width 100%
  text-align left
  padding 10px 5px
  margin 0

.avatar
  width: 40px
  height 40px
  margin-top 8px
  margin-bottom 8px
  margin-right 16px
  border-radius 50%
  vertical-align middle
  box-sizing content-box


md-list-item.m-listHeader, .basket-price
  font-weight bold

md-input-container.m-noPadding
  padding 0

input.m-center, .basket-btnWrapper, .basket-list-item, .basket-noItems
  text-align center

.basketContainer
  max-width: 800px;


.productBox .gray
  background #f5f5f5

.productBox .green
  background #b9f6ca

.productBox .yellow
  background: #ffff8d

.productBox .blue
  background: #84ffff

.productBox .darkBlue
  background: #80d8ff

.productBox .deepBlue
  background: #448aff

.productBox .purple
  background: #b388ff

.productBox .lightPurple
  background: #8c9eff

.productBox .red
  background: #ff8a80

.productBox .pink
  background: #ff80ab

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
